body {
  margin: 0;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.top-container {
  background-color: #D8E9A8;
  padding-top: 100px;
  position: relative;
}

h1 {
  margin: 0;
  width: 10%;
  margin: 100px auto 0 auto;
font-family: 'Sacramento', cursive;


}

h5{
  font-family: 'Merriweather', serif;
}
h3{
  font-family: 'Merriweather', serif;
}
h2{
  font-family: 'Merriweather', serif;
}

.top {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.mypicture{
  width: 200px;
  margin-top: 20px;
}
.bottom-container{
  margin-top: 0px;
  background-color:#D8E9A8;
}
